.InputBox{
  text-align: center;
}
.MainFragment{
  display: flex;
  margin: 10px;
  border: 1px solid #ece3e3d3;
}

.CardDescription{
  border: 1px solid #ece3e3d3;
  padding: 10px;
  height: 205px;
  overflow: auto;
}

.CardImg{
  margin: 5px;
  height: 205px;
}

.CardBody{
  margin: 15px;
}
